version: '3'
services:
  app:
    container_name: ourportfolios_app
    restart: always
    build:
      context: ./
      dockerfile: ./docker/spring/Dockerfile
    depends_on:
      - db
      - solr
    environment:
      SPRING_PROFILES_ACTIVE: docker
    command: >
      bash -c "java -jar /app/application.jar"
    ports:
      - "38000:8080"
    volumes:
      - ../ourportfolios_app:/ourportfolios
    networks:
      ourportfolios_net:
        ipv4_address: 173.50.0.2

  db:
    container_name: ourportfolios_db
    image: postgres:latest
    environment:
      POSTGRES_USER: ourportfolios
      POSTGRES_PASSWORD: ourportfolios
      POSTGRES_DB: ourportfolios_db
    volumes:
      - ./etc/postgres/init:/docker-entrypoint-initdb.d
    ports:
      - "54306:5432"
    networks:
      ourportfolios_net:
        ipv4_address: 173.50.0.3

  solr:
    container_name: ourportfolios_solr
    build:
      context: ./
      dockerfile: ./docker/solr/Dockerfile
    volumes:
      - ./etc/solr/ourportfolios_item:/var/solr/data/ourportfolios_item/conf
      - ./etc/solr/ourportfolios_trend:/va/ourportfolios_trend/conf
      - ./etc/solr/ourportfolios_suggest:/va/ourportfolios_suggest/conf
    ports:
      - "38983:8983"
    networks:
      ourportfolios_net:
        ipv4_address: 173.50.0.4

networks:
  ourportfolios_net:
    driver: bridge
    ipam:
      config:
        - subnet: 173.50.0.0/16

volumes:
  tmp_vol:
    driver: local
